<div class="animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header">
                  <i class="fa fa-align-justify"></i> All Users
                    <div class="card-actions">
                        <a href="javascript:;" class="btn-setting" ng-click="userController.addUser()"><i class="icon-plus"></i></a>
                        <a href="javascript:;" class="btn-setting" ng-click="userController.refresh()"><i class="icon-refresh"></i></a>
                    </div>
                </div>

                <div class="card-body" cg-busy="{promise:userController.userPromise,message:'Loading',backdrop:true,minDuration:50}">
                 <table ng-table="tableParams" class="ui table compact inverted segment" show-filter="true" header-class="text-left">
                        <tr ng-repeat="user in $data">
                            <td data-title="'No'">{{no+$index}}</td>
                            <td data-title="'Full Name'">{{user.firstname}} {{user.lastname}}</td>
                            <td data-title="'Username'">{{user.username}}</td>
                            <td data-title="'email'">{{user.email}}</td>
                            <td data-title="'Phone'">{{ user.phone }}</td>
                            <td data-title="'Is activated'">
                                <span class="badge badge-pill badge-green" ng-if="user.is_activated">Active</span>
                                <span class="badge badge-pill badge-warning" ng-if="!user.is_activated">Not Active</span>
                            </td>
                            <td data-title="'Enabled'">
                                <span class="badge badge-pill badge-green" ng-if="user.enabled">Active</span>
                                <span class="badge badge-pill badge-warning" ng-if="!user.enabled">Not Active</span>
                            </td>
                            <td data-title="'Consented date'">{{user.consented_date | date:"dd/MM/yyyy"}}</td>
                            <td data-title="'Creation Date'">{{user.creation_date | date:'dd/MM/yyyy'}}</td>

                            <td data-title="'Action'">
                                <span>
                                    <button ng-click="userController.editUser(user)" type="submit"
                                            class="btn btn-blue">
                                        <i class="fa fa-pencil"></i></button>
                                </span>
                                <span>
                                    <button ng-click="userController.delete(user.id)" type="submit"
                                            class="btn btn-red">
                                        <i class="fa fa-trash"></i></button>
                                </span>
                                <span>
                                     <button ng-click="userController.sendMail(user.id)" type="submit"
                                            class="btn btn-green">
                                        <i class="fa fa-inbox"></i></button>
                                </span>
                            </td>
                        </tr>
                    </table>
                </div>

                <div class="card-footer">
                    <button class="btn btn-primary" type="submit" ng-click="userController.addUser()">Add New User</button>
                    <button class="btn btn-green" type="submit" ng-click="userController.refresh()">Refresh</button>
                </div>
          </div>
        </div>
    </div>
</div>