<div class="modal-header">
    <h5 class="modal-title">{{ addProjectController.modalTitle }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="addProjectController.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">

        <div class="form-group row">
            <label class="col-md-3 col-form-label">Title</label>
            <div class="col-md-9">
                <input type="text" ng-model="addProjectController.project.title" focus-me="true"
                       name="txtTitle" id="txtTitle" class="form-control" focus="txtDescription"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">Description</label>
            <div class="col-md-9">
                <textarea class="form-control" id="txtDescription" id="txtDescription" name="txtDescription"
                          ng-model="addProjectController.project.description"></textarea>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">Total Participants</label>
            <div class="col-md-9">
                <input type="text" ng-model="addProjectController.project.max_participants" id="txtParticipants"
                       name="txtParticipants" class="form-control" focus="txtStartDate" numeric-only/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">Start Date</label>
            <div class="col-md-9">
                <p class="input-group">
                <input type="text" ng-model="addProjectController.project.start_date" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy"
                       is-open="popup1.opened" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" ng-click="open1()"><i class="icon-calendar"></i></button>
                </span>
                </p>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">End Date</label>
            <div class="col-md-9">
                <p class="input-group">
                <input type="text" ng-model="addProjectController.project.end_date" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy"
                       is-open="popup2.opened" ng-required="true" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" ng-click="open2()"><i class="icon-calendar"></i></button>
                </span>
                </p>
            </div>
        </div>
    </form>
</div>`
<div class="modal-footer">
    <button type="button" name="btnSubmit" class="btn btn-primary" ng-click="addProjectController.submit()">Save changes</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="addProjectController.cancel()">Close</button>
</div>
