<div class="modal-header">
    <h5 class="modal-title">{{ editUserController.modalTitle }}</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="editUserController.cancel()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">

    <form action="" method="post" enctype="multipart/form-data" class="form-horizontal ">

        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="txtEmail">email</label>

            <div class="col-md-9">
                <input type="text" ng-model="editUserController.user.email" id="txtEmail" class="form-control"
                       focus="txtPassword"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="txtPassword">Password</label>

            <div class="col-md-9">
                <input type="password" ng-model="editUserController.user.password" id="txtPassword"
                       class="form-control" focus="txtPhone"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="txtPhone">Phone</label>

            <div class="col-md-9">
                <input type="text" ng-model="editUserController.user.phone" id="txtPhone" class="form-control"/>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">Activated</label>

            <div class="col-md-9">
                <select class="form-control" ng-model="editUserController.user.is_activated">
                    <option ng-value="true">True</option>
                    <option ng-value="false">False</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label">Enabled</label>

            <div class="col-md-9">
                <select class="form-control" ng-model="editUserController.user.enabled">
                    <option ng-value="true">True</option>
                    <option ng-value="false">False</option>
                </select>
            </div>
        </div>
         <div class="form-group row">
            <label class="col-md-3 col-form-label">Role</label>

            <div class="col-md-9">
                <select class="form-control" ng-model="editUserController.user.role"
                        ng-options="roles.name for roles in editUserController.roles" name="optRole">

                </select>
            </div>
        </div>

    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-primary" ng-click="editUserController.submit()">Save changes</button>
    <button type="button" class="btn btn-secondary" data-dismiss="modal" ng-click="editUserController.cancel()">Close
    </button>
</div>
